<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>
<body>
    {% csrf_token %}

    {% if user.is_authenticated %}
    
        <h1>User Detail</h1>
        <p>Username:- {{user.username}}</p>
        <p>Email:- {{user.email}}</p>
        <p>Address:- {{user.address}}</p>
        <button><a class="btn btn-primary" href="{% url 'logout' %}">logout</a></button>
   
    {% endif %}
</body>
</html>